<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <% if (user !== undefined) { %>
  <a class="navbar-brand" href="/metrics">Metrics</a>
  <% } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if(user !== undefined) { %>
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <% if(user.username === "admin"){ %>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <% }} %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <% if(user !== undefined){ %>
        <li class="nav-item">
          <a class="btn btn-danger my-2 my-sm-0" href="/logout" id="logout">Logout</a>
        </li>
        <%}else{%>
        <li class="nav-item">
          <a class=" btn btn-success mr-2 my-sm-0 " href="/signup" id="signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning mr-2 my-sm-0" href="/login" id="login">Login</a>
        </li>
        <%}%>
      </ul>
    </form>
  </div>
</nav>